<div class="comments m-3">
    {{#each this}}
    <div class="comment card mb-1">
        <div class="card-body">
            <div class="card-text mb-1">
                {{comment_text}}
            </div>
            <div class="card-subtitle text-muted">
                by {{user.username}} on {{format_date createdAt}}
            </div>
        </div>
    </div>
    {{/each}}
</div>