<section>
    <h1 class="bg-dark text-light p-1">Dashboard</h2>

    <form class="new-post-form m-3 w-25 border border-dark border-2 p-1 ms-4">
        <h2>Create New Post</h2>
        <div>
            <label for="post-title" class="form-label"><strong>Title:</strong></label>
            <input type="text" id="post-title" name="post-title" class="form-control"/>
        </div>
        <div>
            <label for="contents" class="form-label"><strong>Contents:</strong></label>
            <input id="contents" name="contents" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2 class="m-2">Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class="card mb-3">
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link card-footer ps-4">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>