<h1 class="bg-dark text-light p-1">
  The Tech Blog
</h1>
<form class="login-form m-3 w-25 border border-dark border-2 p-1">
    <div class="mb-3">
        <label for="email-login" class="form-label"><strong>Email:</strong></label>
        <input type="text" id="email-login" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="password-login" class="form-label"><strong>Password:</strong></label>
        <input type="password" id="password-login" class="form-control"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<form class="signup-form m-3 w-25 border border-dark border-2 p-1">
    <div class="mb-3">
        <label for="username-signup" class="form-label"><strong>Username:</strong></label>
        <input type="text" id="username-signup"  class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="email-signup" class="form-label"><strong>Email:</strong></label>
        <input type="text" id="email-signup"  class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="password-signup" class="form-label"><strong>Password:</strong></label>
        <input type="password" id="password-signup"  class="form-control"/>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </div>
</form>

<script src="/javascript/login.js"></script>