<article class="post">
    <h1 class="bg-dark text-light p-1">Dashboard</h1>
    <div class="card m-3">
        {{> post-info post }}
    </div>
    {{#if loggedIn}}
    <form class="comment-form m-3 w-25 p-1">
        <textarea name="comment-body" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
    {{/if}}

    {{> comments post.comments}}
</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}